<div id="player">
  <%= button_to_function('Play!', 'playNext()') %>
</div>

<%- @users.each do |user| %>
<%= check_box_tag(user.display_name, user.id, true) %>
<%= label_tag(user.display_name, user.display_name) %>
<br>
<%- end %>
