h5#greeting{
  float:right;
  color:whiteSmoke;
  font-weight:400;
  font-size:12px;
}

#masthead{
  margin-top: 40px;
  padding:10px;
}

section{
  padding-top: 5px;
}

ul.unstyled li.video-block{
  display:inline;
  float:left;
  margin-left:20px;
  width:120px;
  height:150px;
  overflow:hidden;
}

ul.unstyled li.video-block .video-title{
  height:36px;
  overflow:hidden;
}

ul.unstyled li.adjustHeight{
  height:30px;
  margin-left:0px;
}

ul.unstyled li.adjustHeight input.adjustTop{
  float:left;
  margin:5px;
}

ul.unstyled li.adjustHeight label.adjustPosition{
 margin-left:28px;
 max-width:180px;
 overflow:hidden;
 color:gray;
}

ul.unstyled li.adjustHeight .selected label.adjustPosition{
  color:#404040;
}

.name_container{
  overflow:hidden;
  max-width: 125px;
  margin-right: 2px;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.align-center{
  text-align:center;
}

#form_fields_block input.xlarge{
  width:375px;
}

.input-prepend .add-on.spl,.input-append .add-on.spl{
  border-right-width:1px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  margin-right:5px;
}

.fields_container .help-inline{
  display:none;
  padding:5px 10px;
}

.fields_container.error .help-inline{
  display:inline-block;
}

.fields_container.error ::-webkit-input-placeholder {
   color: #9D261D;
}

.fields_container.error :-moz-placeholder {
   color: #9D261D;
}

#user-list_container .input-prepend .active,#user-list_container .input-append .active{
  background:#BCDDFF;
  border-color:#BCDDFF;
}